:root{
    /* Fonte */
    --fonte: "DM Sans", sans-serif;

    /* Cores */

    /* COLORS */
    --bg-icon:#131313;
    --bg-arrow-color:rgba(0,0,0,7);
    --cinza-escuro: #121212;
    --cinza-claro: #242424;
    --branco: #ffffff;
    --branco2: #b3b3b3;
    --branco3: #a7a7a7;
    --preto: #000000;
}